.react-calendar {
   background-color: white;
   font-size: 200%;
   width:30%;
   height: 210%;
}

.react-calendar__navigation{
    background-color: rgb(200, 230, 228);
}

.react-calendar__month-view__weekdays{
    background-color: whitesmoke;
}

.react-calendar__navigation__label {
    font-size: 80%;
}

.react-calendar__navigation__arrow {
    width: 10%;
    font-size:100%;
}

.react-calendar__tile{
    font-size: 80%;
}

.main{
    width: 75%;
    margin:auto;
    margin-top:10%;
   height: 90%;
}